<% unless params[:wizard] %>
  <%= wizard @steps, @wizard_step %>
<% end %>

<div class="ChannelWizard">
	<h1 class="orange">Download and install Nuntium Local Gateway</h1>

	<p class="w30">Nuntium Local Gateway is a program that runs on your local computer and requires a mobile phone to be plugged in. The Gateway will use the plugged-in phone for sending and receiving text messsages.</p>
	<p class="w30">Download the client corresponding to your operating system and install it.</p>
	<a href="https://bitbucket.org/instedd/local-gateway/downloads/LocalGateway-MacOS.tar.gz" class="fimport">Download Nuntium Local Gateway for MacOS</a>
  <br/>
  <a href="https://bitbucket.org/instedd/local-gateway/downloads/LocalGateway.exe" class="fimport">Download Nuntium Local Gateway for Windows</a>
  <br/>
  <a href="https://bitbucket.org/instedd/local-gateway/downloads/LocalGateway.deb" class="fimport">Download Nuntium Local Gateway for Ubuntu</a>
  <br/>
</div>

<hr />

<div class="ChannelWizardNavigation">
	<%= back_to :a_choose_local_gateway %>
	<%= next_to :c_b_new_desktop_channel %>
</div>
