= render :partial => 'tour_navigation', :selected => :poll
.TourContent.left
  %h2 Reach all the people you want, anytime and anywhere <br/>you want
  %p.advertised To send a poll, first log into your Pollit account. Click the Polls tab, then Create Poll. Give Pollit the live link to your Google poll form, complete a few fields, and you're ready to go
  %p Just click to start the poll, and Pollit sends your poll's first question to everyone on your list.
  %p= image_tag 'startPoll.png', :class => 'startPoll', :localized => true
  %p Once a participant responds to a question using any phone that sends and receives text messages, Pollit automatically sends the next question. Participants answer when it's convenient for them, and Pollit stores their responses in a Google spreadsheet for later review, so you can get on with your day, too.
  %p After all, we know you've got better things to do than babysit a poll -- you've got a world to change!
.clear
