/* --------- Sidebar ----------- */
/* line 3, ../../app/assets/stylesheets/form_editor.sass */
.feditor-list-old {
  width: 623px;
  float: left;
}

/* line 7, ../../app/assets/stylesheets/form_editor.sass */
.feditor-sidebar-old {
  background: white;
  -webkit-box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 10px;
  color: #666666;
  margin: 3px 25px 40px 0px;
  padding: 10px 10px;
  float: right;
  width: 240px;
}
/* line 22, ../../app/assets/stylesheets/form_editor.sass */
.feditor-sidebar-old p {
  margin: 0;
  padding: 0;
}
/* line 26, ../../app/assets/stylesheets/form_editor.sass */
.feditor-sidebar-old label {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
/* line 30, ../../app/assets/stylesheets/form_editor.sass */
.feditor-sidebar-old label.error {
  display: block;
  color: #ff6600;
  padding-right: 15px;
}
/* line 35, ../../app/assets/stylesheets/form_editor.sass */
.feditor-sidebar-old hr {
  padding: 0;
  border: none;
  border-top: 1px solid #eeeeee;
  margin: 10px 0px 15px 0px;
  width: 100%;
}
/* line 43, ../../app/assets/stylesheets/form_editor.sass */
.feditor-sidebar-old .required input {
  width: auto;
}
/* line 46, ../../app/assets/stylesheets/form_editor.sass */
.feditor-sidebar-old input[type="text"], .feditor-sidebar-old input[type="password"], .feditor-sidebar-old input[type="email"] {
  width: 236px;
  margin: 3px 0 0 0;
}
/* line 49, ../../app/assets/stylesheets/form_editor.sass */
.feditor-sidebar-old input[type="text"].small, .feditor-sidebar-old input[type="password"].small, .feditor-sidebar-old input[type="email"].small {
  width: 176px;
  margin: 0;
}
/* line 53, ../../app/assets/stylesheets/form_editor.sass */
.feditor-sidebar-old a.addoption {
  outline: 0;
  display: block;
  background-image: url("form_editor/buttons/addSimpleButton.png");
  height: 20px;
  width: 20px;
}
/* line 60, ../../app/assets/stylesheets/form_editor.sass */
.feditor-sidebar-old a.removeoption {
  outline: 0;
  display: block;
  background-image: url("form_editor/buttons/removeSimpleButton.png");
  height: 20px;
  width: 20px;
}
/* line 68, ../../app/assets/stylesheets/form_editor.sass */
.feditor-sidebar-old .range input[type="text"] {
  width: 40px;
}
