/* line 1, ../../app/assets/stylesheets/global.scss */
table div {
  display: inline-block;
  vertical-align: middle;
}

/* line 6, ../../app/assets/stylesheets/global.scss */
.block {
  display: block;
}

/* line 10, ../../app/assets/stylesheets/global.scss */
.hidden {
  visibility: hidden;
}

/* line 14, ../../app/assets/stylesheets/global.scss */
.nodisplay {
  display: none;
}

/* line 18, ../../app/assets/stylesheets/global.scss */
.clear {
  clear: both;
}

/* line 22, ../../app/assets/stylesheets/global.scss */
.box.green {
  background: #eeffc9;
  color: #799823;
  border: 0;
}

/* line 28, ../../app/assets/stylesheets/global.scss */
.box.overview {
  display: inline-block;
  width: 190px;
  margin-right: 10px;
}
/* line 33, ../../app/assets/stylesheets/global.scss */
.box.overview .content {
  display: inline-block;
  width: 130px;
  vertical-align: top;
  padding-top: 5px;
}
/* line 40, ../../app/assets/stylesheets/global.scss */
.box.overview .icon, .box.overview .respondents, .box.overview .channel, .box.overview .google {
  display: inline-block;
  height: 48px;
  width: 48px;
}
/* line 46, ../../app/assets/stylesheets/global.scss */
.box.overview .respondents {
  background: url(http://theme.instedd.org/theme/images/icons/48/gradient/users.png) no-repeat;
}
/* line 51, ../../app/assets/stylesheets/global.scss */
.box.overview .channel {
  background: url(http://theme.instedd.org/theme/images/icons/48/gradient/channel.png) no-repeat;
}
/* line 56, ../../app/assets/stylesheets/global.scss */
.box.overview .google {
  background: url(http://theme.instedd.org/theme/images/icons/48/gradient/googleDocs.png) no-repeat;
}
/* line 62, ../../app/assets/stylesheets/global.scss */
.box.overview.incomplete .content {
  color: #FF6600;
}
/* line 65, ../../app/assets/stylesheets/global.scss */
.box.overview.incomplete .icon, .box.overview.incomplete .respondents, .box.overview.incomplete .channel, .box.overview.incomplete .google {
  background-position: 0px -48px;
}
