/* line 2, ../../app/assets/stylesheets/global.scss */
h1.green {
  color: #739524;
}

/* line 7, ../../app/assets/stylesheets/global.scss */
table div {
  display: inline-block;
  vertical-align: middle;
}

/* line 12, ../../app/assets/stylesheets/global.scss */
.block {
  display: block;
}

/* line 16, ../../app/assets/stylesheets/global.scss */
.hidden {
  visibility: hidden;
}

/* line 20, ../../app/assets/stylesheets/global.scss */
.nodisplay {
  display: none;
}

/* line 24, ../../app/assets/stylesheets/global.scss */
.clear {
  clear: both;
}

/* line 28, ../../app/assets/stylesheets/global.scss */
.field_with_errors {
  display: inline;
}

/* line 32, ../../app/assets/stylesheets/global.scss */
label.placeholder {
  cursor: text;
  padding: 4px 4px 4px 4px;
  color: #999999;
  font-style: italic;
}

/* line 39, ../../app/assets/stylesheets/global.scss */
.box.unstartedPoll {
  border-top: 0px !important;
  width: 650px;
  margin-bottom: 5px;
}
/* line 43, ../../app/assets/stylesheets/global.scss */
.box.unstartedPoll .farrow {
  margin-top: -3px;
}

/* line 48, ../../app/assets/stylesheets/global.scss */
.box.orange {
  background-color: #fff0bd;
  color: #FF6600;
}

/* line 53, ../../app/assets/stylesheets/global.scss */
.box.green {
  background: #eeffc9;
  color: #799823;
  border: 0;
}

/* line 59, ../../app/assets/stylesheets/global.scss */
.box.overview {
  display: inline-block;
  width: 190px;
  margin-right: 10px;
}
/* line 64, ../../app/assets/stylesheets/global.scss */
.box.overview .content {
  display: inline-block;
  width: 130px;
  vertical-align: top;
  padding-top: 5px;
}
/* line 71, ../../app/assets/stylesheets/global.scss */
.box.overview .icon, .box.overview .respondents, .box.overview .channel, .box.overview .google {
  display: inline-block;
  height: 48px;
  width: 48px;
}
/* line 77, ../../app/assets/stylesheets/global.scss */
.box.overview .respondents {
  background: url(http://theme.instedd.org/theme/images/icons/48/gradient/users.png) no-repeat;
}
/* line 82, ../../app/assets/stylesheets/global.scss */
.box.overview .channel {
  background: url(http://theme.instedd.org/theme/images/icons/48/gradient/channel.png) no-repeat;
}
/* line 87, ../../app/assets/stylesheets/global.scss */
.box.overview .google {
  background: url(http://theme.instedd.org/theme/images/icons/48/gradient/googleDocs.png) no-repeat;
}
/* line 93, ../../app/assets/stylesheets/global.scss */
.box.overview.incomplete .content {
  color: #FF6600;
}
/* line 96, ../../app/assets/stylesheets/global.scss */
.box.overview.incomplete .icon, .box.overview.incomplete .respondents, .box.overview.incomplete .channel, .box.overview.incomplete .google {
  background-position: 0px -48px;
}

/* line 102, ../../app/assets/stylesheets/global.scss */
.bottom-actions.registration {
  margin-top: 20px;
}

/* line 106, ../../app/assets/stylesheets/global.scss */
.LocalGatewayBox.box {
  width: 620px !important;
}

/* line 110, ../../app/assets/stylesheets/global.scss */
.leftmargin {
  margin-left: 15px !important;
}
