#lang_bubble_content
  #lang_bubble
    .left
      %h1 
        Change Language
    .right
      .pclose.bubble_close#lang_bubble_close
    .clear
    %ul.language
      %br
      - Locales.available.each do |key,name|
        %li
          %a{:href => '#', 'data-lang' => key}
            = name