= render :partial => 'shared/poll_tabs', :locals => { :poll => @poll, :active_tab => 'answers' }

%h1 Answers

- if @poll.recurrence_iterative?
  = render_listing :recurrence_answers, poll_id: @poll.id
- else
  = render_listing :answers, poll_id: @poll.id

