%h2 Poll questions

%div{ko(if: 'kind() == "gforms"')}
  .field{ko(visible: 'questions().length == 0')}
    %p
      %a#goto_import{:href => '#'}
        Import a form from Google
      to load its questions

  %div{ko(visible: 'questions().length > 0')}
    = fancy_button _('Reload form from Google'), 'fsync', :class => 'import_form_action reload_from_google block', :'data-bind' => "disabled: importing, click: import_form, css: {loading: importing}"
    %br/
    %br/

= render :partial => 'polls/form_editor/questions', :locals => { :f => f }
