%h1 Polls
= link_to "Create a new poll", new_poll_path
- if @polls.any?
  %h2 Your polls:
  %ul
    - @polls.each do |poll|
      %li
        = link_to(poll.title, poll)
        = "(#{poll.completion_percentage})"