%br
%br
= link_to "Go Back", root_path

%h1 Polls

%h2 Your polls:

= link_to "Create a new poll", new_poll_path
%br
%br

%table
  %tr
    %th 
    %th Completion
    - @polls.each do |poll|
      %tr
        %td= link_to(poll.title, poll)
        %td= poll.completion_percentage


