= rgviz :id => "question_#{question.id}", |
  :kind => 'PieChart', |
  :url => query_poll_summary_index_path(@poll.id, question.id), |
  :query => 'select response, count(response) group by response order by response DESC', |
  :options => {:width => 640, :height => 480, :is3D => true, :chartArea => { height: 410, top: 20 }}
