= rgviz :id => "question_#{question.id}", |
  :kind => 'Table', |
  :url => query_poll_summary_index_path(@poll.id, question.id), |
  :query => 'select response order by created_at desc', |
  :options => {:width => 640, :height => 480, :is3D => true, :hAxis => { title: "Count"}, :vAxis => { title: "Response"}, :legend => { position: 'none'} }
