h1 {
  &.green {
    color:#739524;
  }
}

table div {
  display: inline-block;
  vertical-align: middle;
}

.block {
  display: block;
}

.hidden {
  visibility: hidden;
}

.nodisplay {
  display: none;
}

.clear {
  clear: both;
}

.field_with_errors {
  display: inline;
}

label.placeholder {
  cursor: text;
  padding: 4px 4px 4px 4px;
  color: #999999;
  font-style: italic;
}

.box.unstartedPoll {
  border-top: 0px !important;
  width: 650px;
  margin-bottom: 5px;
  &.manualPoll {
    width: 425px;
  }
  .farrow {
    margin-top: -3px;
  }
}

.box.orange {
  background-color: #fff0bd;
  color: #FF6600;
}

.box.green {
  background:#eeffc9;
  color:#799823;
  border:0;
}

.box.overview {
  display: inline-block;
  width: 190px;
  margin-right:10px;

  .content {
    display: inline-block;
    width: 130px;
    vertical-align: top;
    padding-top: 5px;
  }

  &.incomplete {
    .content {
      color: #FF6600;
    }
    .icon {
      background-position: 0px -50px;
    }
  }
}

.bottom-actions.registration {
  margin-top: 20px;
}

.leftmargin {
  margin-left: 15px ! important;
}

.black {
  color: black ! important;
}

.homepage .illustration {
  background: image-url("illustration.png") no-repeat scroll 0 0 transparent;
  height: 406px;
  width: 438px;
}

.EmptyDataPie {
  cursor: default !important;
  color: gray !important;
}

.w80 {
  width: 800px ! important;
}

.w70 {
  width: 700px ! important;
}

.w35 {
  width: 350px !important;
}

.loading {
  background: image-url("loading.gif") no-repeat scroll 0 0 transparent !important;
}

#poll_form {

  .TaskBox {
    opacity: 0.3
  }

  span.error {
    // HACK: Display inline !important from theme.instedd causes the error label to be never hidden
    background: url(http://theme.instedd.org/theme/images/icons/18/orange/alert.png) no-repeat;
    color: #ff6600;
    padding-left: 19px;
    padding-top: 1px;
    margin-left: 2px;
    white-space: nowrap;
    display: inline;
  }

}

#poll_form_import {

  hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #preview_box {
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2) inset;
    border-radius: 3px 3px 3px 3px;
  }

  #preview {
    img {
      margin: 2px 2px -1px 2px;
      border-radius: 3px 3px 3px 3px;
    }
  }
}

#form-editor {

  .feditor.highlighted {
    .feditor-button button {
      border-radius: 5px;
      border-width: 2px;
      border-style: solid;
    }
  }

  .feditor-container {
    position: relative;
  }

  ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
  }

  .next-question {
    border-style: solid;
    border-color: transparent;
    border-width: 2px;
  }

  .option-next-question {
    width: 60px;
    position: relative;
    bottom: 2px;
    border-style: solid;
    border-color: transparent;
    border-width: 2px;
  }

  .collects-respondent-hint {
    display: none;
    font-size: 12px;
    font-weight: bold;
    color: #555555;
    margin-left: 20px;
    padding-left: 20px;
    height: 20px;
    background: image-url("phone.png") no-repeat scroll 0 0 transparent;
  }

  .hint {
    min-height: 20px;
    display: inline-block;
    float: left;
  }

  .remove-field {
    float: right;
    outline: none;
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 8px;
    top: -4px;
    background: image-url("buttons/removeButton.png") no-repeat 0 0;
    &:hover {
      background-position-y: -30px;
    }
    &:active {
      background-position-y: -60px;
    }
  }

  .collects-respondent {
    .collects-respondent-hint {
      display: inline-block;
      float: right;
    }
    .hint {
      width: 300px;
    }
  }
}

#respondents-container {
  margin-left: 20pt;
  li .ux-clist:disabled {
    color: black;
  }
}

#respondents-list {
  .tablewrapp {
    width: 300px;
  }
}

#hub_details {
  margin-left: 30px;
  line-height: 1.5;

  .hub_entity_set {
    cursor: pointer;
  }

  .hub_actions button {
    width: 80pt;
    height: 17pt;
    span {
      top: -2pt !important;
    }
  }
}
