table div {
  display: inline-block;
  vertical-align: middle;
}

.block {
  display: block;
}

.hidden {
  visibility: hidden;
}

.nodisplay {
  display: none;
}

.clear {
  clear: both;
}

.field_with_errors { 
  display: inline; 
}