.TourContent {
  
  width: 720px;
  min-height: 660px;
  position: relative;

  .LocalGatewayBox {
    bottom: -4px;
    position: absolute;
  }

  h2 {
    line-height: 30px;
    padding-bottom: 10px;
    &.gray {
      color: #434343;
    }
  }

  hr {
    margin: 6px 20px 20px 45px;
  }

  .pc {
    background: image-url("pc-gray.png");
    background-repeat: no-repeat;
    padding-top: 35px;
  }
  
  .android {
    background: image-url("android-gray.png");
    background-repeat: no-repeat;
    padding-top: 41px;
  }

  .createForm {
    height: 308px;
    width: 278px;
    margin-top: 33px;
  }

  .arrow {
    width: 36px; 
    height: 17px;
    margin-top: 58px;
  }

  .upload-form {
    width: 644px;
    height: 96px;
  }

  .startPoll {
    width: 623px;
    height: 41px;
  }

  .messages {
    margin-left:20px; 
    width:320px; 
    height: 448px;
  }

  .formats {
    height: 387px;
    width: 298px;
  }
}

ul.TourNavigation > li.start > a {
  background: image-url("start.png");
}

ul.TourNavigation > li.create > a {
  background: image-url("create.png");
}

ul.TourNavigation > li.poll > a {
  background: image-url("poll.png");
}

ul.TourNavigation > li.analyze > a {
  background: image-url("analize.png");
}

