%p
  Hello #{@resource.email},
%p 
  To reset your password, please click on
  = link_to 'this link', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
  = "."
%p
  If the above does not work, please copy and paste the following URL on your browser:
  = edit_password_url(@resource, :reset_password_token => @resource.reset_password_token).html_safe
%p 
  If you didn't request to reset your password, please ignore this email. Note that your password won't change until you access the link above and create a new one.
%p
  Thanks!
%p
  The Pollit team
