.box.centered.w30
  %h2
    -#icons 48 gradient message.png
    Almost there!
  %hr.shadow
  %p= "You have signed up successfully. However, we could not sign you in because your account is unconfirmed. We have just sent an email to #{@email} with an activation link."
  %p Open the activation link and start using Pollit!
