.box.centered.w30
  %h2
    .i48grad-message
    Almost there!
  %hr.shadow
  %p= "You have created your account successfully. However, we could not sign you in because your account is unconfirmed. We have just sent an email to #{@email} with an activation link."
  %p Open the activation link and start using Pollit!
